################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/htc-cs-102/v16
/.vs
/Week1/New folder/CS101Review/.vs/CS101Review/v16
